{% extends '@AllProgrammicResque/mails/base.html.twig' %}

{% block content %}
    <p>Message in queue <strong>{{ queue }}</strong> go back below the threshold of {{ threshold }} with a value of {{ size }} </p>
{% endblock %}
